@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Profile Page Basic Styles */
/* Profile Page Basic Styles */
/* Profile Page Basic Styles */

.profile-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  max-width: 400px;
  margin: 0 auto;
}

/* Earth Section */
.earth-section {
  z-index: -1;
}

.earth-image {
  background-image: url("./src/assets/earth-image1.png");
  background-size: cover;
  width: 100%;
  height: 720px;
  position: relative;
}

.countries-stats {
  color: white;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Profile Info Section */
.profile-info {
  background: var(--brand-white);
  padding: 20px;
  border-radius: 12px;
  margin-top: -55px;
}

.profile-header {
  text-align: center;
}

/* Outer container for positioning */
.outer-thumbnail-container {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* White circular container */
.profile-thumbnail-container {
  width: 90px;
  height: 90px;
  background-color: var(--brand-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Profile image styling */
.profile-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("./src/assets/profile-img.png");
  background-size: cover;
}

h2 {
  margin: 5px 0;
  font-size: 1.4em;
}

p {
  margin: 2px 0;
}

/* Buttons */
.action-btn {
    display: inline-block;
    width: 48%;
    padding: 10px;
    margin: 5px 1%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    color: #333;
    font-weight: 500;
    background-color: var(--brand-white);
}

/* Verification Section */
.verification {
  text-align: left;
  background: #ffd2ce;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.settings-list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.settings-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

/* Travel Assistant Section */
.travel-assistant {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 15px;
}

.travel-assistant button {
  padding: 8px 12px;
  background-color: var(--brand-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 100px;
  cursor: pointer;
}
