/* ---------- Root Variables ---------- */
:root {
  --brand-blue: #216869;
  --brand-white: #f7f7f7;
  --brand-dark-blue: #182726;
  --brand-black: #121312;
  --brand-light-gray: #d1cfc9;
  --text-color-light: #f1f1f1;
  --white: #f1f1f1;
}

/* ---------- Global Styling ---------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--Brand-white, #f7f7f7);
  color: var(--brand-black);
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

/* ---------- Link Styling ---------- */
a {
  color: var(--green);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--brand-dark-blue);
}

/* ---------- Form, Input, and Button Styling ---------- */
textarea,
input,
button,
select {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

button {
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  padding: 1em 2em;
  background-color: var(--brand-blue);
  transition: 0.5s;
  width: 100%;
}

button:hover {
  background-color: var(--light-green);
  color: var(--green);
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

form[action$="destroy"] button,
.btn-cancel,
.btn-delete {
  background-color: var(--white);
  color: #f44250;
}

form[action$="destroy"] button:hover,
.btn-cancel:hover,
.btn-delete:hover {
  background-color: #f44250;
  color: var(--white);
}

/* ---------- Form Specific Styling ---------- */
form input {
  width: 100%;
}

form .btns {
  grid-column: 2;
}

form img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  align-items: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 8px;
}

#sign-in-form,
#sign-up-form {
  width: 35rem;
}

/* ---------- Button Group ---------- */
.btns {
  display: flex;
  gap: 0.5em;
}

.container > .btns {
  margin: 1em 0;
}

.create-post-button {
  margin-top: 40px;
  margin-left: 30px;

  background-color: #ffffff;
  color: white;
  border: 2px solid #959595;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 330px;
}

.create-button-text {
  color: var(--brand-light-gray);
}

.btns {
  gap: 10px; /* Space between the buttons */
  margin-bottom: 20px; /* Adjust as needed */
}

.btn-cancel,
.btn {
  margin-bottom: 100px; /* Adds space below each button */
}

/* ---------- Navigation Styling ---------- */
nav {
  background-color: var(--brand-white);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0;
  border-top: 1px rgb(78, 78, 78);
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9em;
  padding: 8px;
}

nav a span {
  margin-top: 4px;
  font-size: 0.8em;
}

nav a i {
  font-size: 1.5em;
}

/* ---------- Post Card Styling ---------- */
.post-card {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 10px;
  width: 330px;
  margin: 30px;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 var(--brand-blue);
}

.post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.post-card h2 {
  margin: 0.5em 0 0;
}

.post-card .title {
  margin: 0;
}

.post-card p {
  font-size: 14px;
}

/* ---------- Avatar Styling ---------- */
.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.avatar h3,
.avatar p {
  margin: 0;
  line-height: 1.2;
}

.post-card .avatar img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* ---------- Post Page Styling ---------- */
#post-page .post-card > img {
  height: auto;
}

#post-page .btns {
  padding: 1em 0;
}

/* ---------- Login Form Styling ---------- */
#sign-in-page,
#sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.error-message {
  color: var(--text-color-danger);
  margin-top: 10px;
  grid-column: 2;
}

.hide {
  display: none;
}

.image-preview {
  cursor: pointer;
}

/* ---------- Animations ---------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
